/*淘宝的样式初始化代码：*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

/*水平居中：给div设置一个宽度，然后添加margin:0 auto属性*/

div{
    width:200px;
    margin:0 auto;
 }
/*让绝对定位的div居中*/

div {
    position: absolute;
    width: 300px;
    height: 300px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: pink; /* 方便看效果 */
}
/*水平垂直居中一*/

/*确定容器的宽高 宽500 高 300 的层*/
/*设置层的外边距*/

div {
    position: relative;     /* 相对定位或绝对定位均可 */
    width:500px;
    height:300px;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -250px;      /* 外边距为自身宽高的一半 */
    background-color: pink;     /* 方便看效果 */

 }
/*水平垂直居中二*/

/*未知容器的宽高，利用 `transform` 属性*/

div {
    position: absolute;     /* 相对定位或绝对定位均可 */
    width:500px;
    height:300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: pink;     /* 方便看效果 */

}
/*水平垂直居中三*/

/*利用 flex 布局*/
/*实际使用时应考虑兼容性*/

.container {
    display: flex;
    align-items: center;        /* 垂直居中 */
    justify-content: center;    /* 水平居中 */

}
.container div {
    width: 100px;
    height: 100px;
    background-color: pink;     /* 方便看效果 */
}
/*1、父级div定义height；*/
/*2、父级div 也一起浮动；*/
/*3、常规的使用一个class；*/
    .clearfix:before, .clearfix:after {
        content: " ";
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    .clearfix {
        *zoom: 1;
    }
    /*4、SASS编译的时候，浮动元素的父级div定义伪类:after*/
    &:after,&:before{
        content: " ";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
    /*如何修改chrome记住密码后自动填充表单的黄色背景 ？*/

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: rgb(250, 255, 189); /* #FAFFBD; */
  background-image: none;
  color: rgb(0, 0, 0);
}
让页面里的字体变清晰，变细用CSS怎么做？

/*-webkit-font-smoothing: antialiased;*/
